//OLD COLOR PALETTE
//$header-color: #4f000b; /*dark red*/
//$border-color: #720026; /*dark purple*/
//$div-background-color: #ff7f51; /*orange*/
//$other-color-1: #ff9b54; /*orange*/
//$other-color-2: #ce4257; /*pinkish*/
//$background-color: #FF9B54;

//NEW COLOR PALETTE -- changed which color applies to which text, etc

//formatted or smth
$bright-green: #72EB3A;
$dark-green: #365A08;
$medium-green: #5D9D0B;
$blackish: #1B1D24;
