//OLD COLOR PALETTE
//$header-color: #4f000b; /*dark red*/
//$border-color: #720026; /*dark purple*/
//$div-background-color: #ff7f51; /*orange*/
//$other-color-1: #ff9b54; /*orange*/
//$other-color-2: #ce4257; /*pinkish*/
//$background-color: #FF9B54;

//NEW COLOR PALETTE -- changed which color applies to which text, etc
$background-color: #72EB3A;
$header-color: #365A08;
$div-background-color: #1B1D24;
$other-color-1: #5D9D0B;
$other-color-2: #72EB3A;
$border-color: #5D9D0B;