@use 'variables';
@use './general-styles/reset.scss';
@use './bootstrap-grid/bootstrap-grid.css';

body {
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: auto;
}

.big_flex_element {
    flex: 1;
}

h2 {
    color: variables.$dark-green;
    font-weight: 600;
    font-size: 1.65rem;
    margin-top: calc(6px + 1.5vh);
}

h3 {
    font-size: 1.35rem;
    color: variables.$bright-green;
}


a {
    display: block;
}

p {
    font-size: 1.2rem;
    font-weight: 550;
    color: variables.$medium-green;
}

.smaller_p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1rem;
}

.row {
    margin: calc(8px + 2vh) auto;
}

.link {
    text-decoration: none;
    color: variables.$blackish;
    background-color: variables.$medium-green;
    padding: 10px 5px;
    margin: calc(7px + 1.5vh) calc(10px + 2vh) calc(8px + 2vh) calc(10px + 2vh);
    font-size: 1.3rem;
    font-weight: 550;
    border: 2px solid variables.$dark-green;
}

.link:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

hr {
    height: 2px;
    background-color: variables.$bright-green;
    border: none;
    border-radius: 2px;
    width: 85%;
}

header {
    font-size: 1.5rem;
    margin: auto 10px;
    color: variables.$blackish;
}

main {
    background-color: variables.$blackish;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid variables.$medium-green;
    border-radius: 2px;

}

footer {
    background-color: variables.$blackish;
    border-top: 1px solid variables.$medium-green;
    margin-top: auto;
}

.footer_text {
    font-size: 1.3rem;
}

img {
    max-width: 80%;
}


@media screen and (max-width: 700px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 385px) {
    html {
        font-size: 14px;
    }
}