@use 'variables';
@use "./bootstrap-grid/bootstrap-grid.css";
@use "./general-styles/reset.scss";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

//the flex properties of the header now mainly work with bootstrap grid
header {
    text-align: center;
    color: variables.$blackish;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
}

header > div {
    text-align: center;
    flex: 1;
}

header img {
    flex: 0.5;
    width: 150px;
    height: 150px;
    margin: 1vw auto 0 auto;
}

.formSection {
    text-align: center;
    background-color: variables.$blackish;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid variables.$medium-green;
    border-radius: 2px;
}

input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.radioLabel{
    background-color: variables.$medium-green;
    border: 2px solid variables.$dark-green;
    margin: 2px;
    padding: 3px;
}

.radioLabel:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.col:hover {
    margin: auto 15px;
}

.radioLabel span:first-of-type{
    font-weight: 600;
    display: block;
}

.bigLabel {
    font-size: 1.45rem;
    font-weight: 550;
}

.smallLabel span {
    font-size: 1.1rem;
}

.smallLabel span:first-of-type{
    font-size: 1.35rem;
}

.radioLabel:has(> input:checked) {
    background-color: variables.$bright-green;
}

.newFormItem {
    margin-top: 12px;
}

.container{
    max-width: 90%;
}

.formSection h2{
    color: variables.$blackish;
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.6rem;
}

input[type=number] {
    font-size: 1.15rem;
    padding: 7px 10px;
    border: 2px solid variables.$medium-green;
    background-color: variables.$medium-green;
}

input[type=number]:focus {
    background: variables.$bright-green;
    outline: none;
}

::placeholder {
    color: variables.$blackish;
    font-size: 1.1rem;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    background-color: variables.$medium-green;
    padding: 10px 5px;
    font-size: 1.25rem;
    font-weight: 550;
    border: 2px solid variables.$dark-green;
}

button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.info {
    text-align: center;
    margin: calc(5vh + 8px) auto;
    width: 80%;
}

.info h2 {
    font-size: 1.5rem;
}

.info p {
    font-size: 1.1rem;
    font-weight: 550;
}

.form2 p {
    font-size: 1.2rem;
    color: variables.$medium-green;
}

.form2SelectBox {
    background-color: variables.$medium-green;
    font-size: 1.1rem;
    border: 2px solid variables.$medium-green;
    padding: 6px 8px;
}

.form2SelectBox:hover, .form2SelectBox:focus {
    outline: none;
    transform: scaleY(1.1);
}

.form2SelectBox option:hover, .form2SelectBox option:checked, select:focus > option:checked {
    background-color: variables.$bright-green;
    background: variables.$bright-green !important;
}

.brighterText {
    color: variables.$bright-green;
}

.form2 {
    margin-top: calc(2.5vh + 7px);
}

.macroResults {
    margin: calc(2.5vh + 7px) auto;
}

.macroResults h2 {
    color: variables.$bright-green;
}

.macroResults {
    color: variables.$medium-green;
}

.macroResults p {
    font-size: 1.2rem;
}

.macroResults h3 {
    font-size: 1.5rem;
}

footer {
    background-color: variables.$blackish;
    text-align: center;
    border-top: 1px solid variables.$medium-green;
    margin-top: auto;
    font-size: 1.3rem;
}


@media screen and (max-width: 825px) {
    .formSelector .radioLabel{
        margin: auto 3px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .formSelector .radioLabel:hover {
        transform: none;
        margin: auto 3px;
        background-color: variables.$bright-green;
    }
}

@media screen and (max-width: 767px) {
    header img {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .formSelector .radioLabel {
        height: auto;
    }  
    html {
        font-size: 15px;
    }
    .macroResults h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .macroResults p {
        margin-bottom: 7px;
    }
    .macroResults_get_meal_plan_button{
        margin-top: 12px;
    }
}

@media screen and (max-width: 385px) {
    .radioLabel:hover {
        transform: none;
        background-color: variables.$bright-green;
    }
    .formSection {
        width: 90%;
    }
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 307px) {
    .formSelector .radioLabel {
        height: 120px;
    }  
}

@media screen and (max-width: 273px) {
    .formSelector .radioLabel {
        height: auto;
    }
}