@use 'variables';
@use "./bootstrap-grid/bootstrap-grid.css";
@use "./general-styles/reset.css";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    color: variables.$header-color;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
}

header > div {
    text-align: center;
    flex: 1;
}

header img {
    flex: 0.5;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.form_section {
    text-align: center;
    background-color: variables.$div-background-color;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid variables.$border-color;
    border-radius: 2px;
}

input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.radio_label{
    background-color: variables.$other-color-1;
    border: 2px solid variables.$border-color;
    margin: 2px;
    padding: 3px;
}

.radio_label:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.col:hover {
    margin: auto 15px;
}

.radio_label span:first-of-type{
    font-weight: 600;
    display: block;
}

.big_label {
    font-size: 1.3rem;
    font-weight: 550;
}

.small_label span:first-of-type{
    font-size: 1.15rem;
}

.radio_label:has(> input:checked) {
    background-color: variables.$other-color-2;
}

.new_form_item {
    margin-top: 12px;
}

.container{
    max-width: 90%;
}

.form_section h2{
    color: variables.$header-color;
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.5rem;
}

input[type=number] {
    padding: 7px 10px;
    border: 2px solid variables.$border-color;
    background-color: variables.$other-color-1;
}

input[type=number]:focus {
    background: variables.$other-color-2;
    outline: none;
}

::placeholder {
    color: variables.$header-color;
    font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    background-color: variables.$other-color-2;
    padding: 10px 5px;
    font-size: 1.1rem;
    font-weight: 550;
    border: 2px solid variables.$border-color;
}
button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.info {
    text-align: center;
    margin: calc(5vh + 8px) auto;
}

.info h2 {
    font-size: 1.5rem;
}

.info p {
    font-size: 1.1rem;
    font-weight: 550;
}

.form2_select_box {
    background-color: variables.$other-color-1;
    font-size: 1.1rem;
    border: 2px solid variables.$border-color;
    padding: 5px 8px;
}

.form2_select_box:hover, .form2_select_box:focus {
    outline: none;
    transform: scaleY(1.1);
}
.form2_select_box option:hover, .form2_select_box option:checked, select:focus > option:checked {
    background-color: variables.$other-color-2;
    background: variables.$other-color-2 !important;
}

footer {
    background-color: variables.$div-background-color;
    text-align: center;
    font-size: 1.3rem;
    line-height: 3rem;
    border-top: 1px solid variables.$border-color;
    margin-top: auto;
}